In [3]:
# Criando relat√≥rios com python
import pandas as pd
import numpy as np

# importante colocar o sep=";" para a tabela ficar direitinho
dados = pd.read_csv("Dados.csv", sep= ";")
dados

   Tempo  Velocidade
0      1          12
1      2          24
2      3          36
3      4          48
4      5          60
5      6          72
6      7          84
7      8          96
8      9         108
9     10         120

Acessando os dados das colunas

In [10]:
# Aqui eu acesso a coluna tempo em o titulo da coluna
coluna_tempo = dados["Tempo"]
coluna_tempo

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Tempo, dtype: int64

In [19]:
# Aqui eu acesso a coluna velocidade com o titulo da coluna
coluna_velocidade = dados[["Velocidade"]]
coluna_velocidade

   Velocidade
0          12
1          24
2          36
3          48
4          60
5          72
6          84
7          96
8         108
9         120