In [3]:
# Criando relat√≥rios com python
import pandas as pd
import numpy as np

dados = pd.read_csv("Dados.csv", sep= ";")
dados

   Tempo  Velocidade
0      1          12
1      2          24
2      3          36
3      4          48
4      5          60
5      6          72
6      7          84
7      8          96
8      9         108
9     10         120