In [8]:
# Criando relatórios com python
import pandas as pd
import numpy as np

# importante colocar o sep=";" para a tabela ficar direitinho
dados = pd.read_csv("Mec.csv", sep=";")
dados

   DeltaY  Massa
0    0.45      5
1    0.91     10
2    1.41     15
3    1.87     20
4    2.36     25

Acessando os dados das colunas

In [9]:
# Aqui eu acesso a coluna tempo em o titulo da coluna
coluna_tempo = dados["Tempo"]
coluna_tempo

KeyError: 'Tempo'

In [ ]:
# Aqui eu acesso a coluna velocidade com o titulo da coluna
coluna_velocidade = dados[["Velocidade"]]
coluna_velocidade

   Velocidade
0          12
1          24
2          36
3          48
4          60
5          72
6          84
7          96
8         108
9         120

In [ ]:
# Criando a função ao cubo para aplicar em nosso dataframe
def cubo(x):
    return x**3
# Utilizando o metodo apply para aplicar a função criado no dataframe
dados1 = dados.apply(cubo, axis=0)
dados1

   Tempo  Velocidade
0      1        1728
1      8       13824
2     27       46656
3     64      110592
4    125      216000
5    216      373248
6    343      592704
7    512      884736
8    729     1259712
9   1000     1728000

In [ ]:
dados_media = dados1.mean(axis=1)
dados_media

dados1.mean(axis=1)

0       864.5
1      6916.0
2     23341.5
3     55328.0
4    108062.5
5    186732.0
6    296523.5
7    442624.0
8    630220.5
9    864500.0
dtype: float64

In [ ]:
dados2 = dados1.drop([0,3], axis=0)
dados2

   Tempo  Velocidade
1      8       13824
2     27       46656
4    125      216000
5    216      373248
6    343      592704
7    512      884736
8    729     1259712
9   1000     1728000

In [10]:
# Criando relatórios com python
import pandas as pd
import numpy as np

# importante colocar o sep=";" para a tabela ficar direitinho
dados_mec = pd.read_csv("Mec.csv", sep= ";")
dados_mec

   DeltaY  Massa
0    0.45      5
1    0.91     10
2    1.41     15
3    1.87     20
4    2.36     25

Criando a fórmula para calcular as contantes da mola K

In [11]:
# Função lambda para calcular a constante K
k = lambda massa,y : round(massa*980/y,2)

#  Criando uma variavel para salvar os valores da função k utilizando as colunas como parametros
cte_mola = k(dados_mec["Massa"], dados_mec["DeltaY"])
cte_mola

# Criando uma nova coluna no dataframe com os valores das constantes k
dados_mec["Constante mola"] = cte_mola
dados_mec

   DeltaY  Massa  Constante mola
0    0.45      5        10888.89
1    0.91     10        10769.23
2    1.41     15        10425.53
3    1.87     20        10481.28
4    2.36     25        10381.36

In [17]:
k_media = dados_mec["Constante mola"].mean()
print(k_media)

10589.258

In [13]:
var = lambda cte_mola, k_media:  round(np.sum((cte_mola - k_media)**2)/4,2)

variancia = var(dados_mec["Constante mola"],k_media)
print(variancia)

50964.24